<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="{%static 'static/style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>
<div class="container">
     <div class="container-fluid">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://img.icons8.com/office/30/000000/bookmark-ribbon--v1.png"/>
      CENTERHEAD ADMIN
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'adminhome' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'signout' %}">Signout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div class="row">
        <div class="col-4 mt-lg-4">
            <a href="{%url 'users' %}"  class=" btn btn-outline-danger border rounded"><h4>User Management</h4></a>
        </div>
        <div class="col-4 mt-lg-4">
            <a href="{%url 'courses' %}"  class=" btn btn-outline-danger border rounded"><h4>Course Management</h4></a>
        </div>
        <div class="col-4 mt-lg-4">
                <a href="{%url 'batches' %}" class=" btn btn-outline-danger border rounded"><h4>Batch Management</h4></a>
        </div>
        <div class="col-4 mt-lg-4">
                <a href="{%url 'viewtimesheet' %}" class=" btn btn-outline-danger border rounded"><h4>Timesheets Management</h4></a>
        </div>
    </div>
</div>
</body>
</html>